.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  flex-basis: 15vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

footer {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: #457B9D;
}