.board {
  display: flex;
  position: relative;
  width: 80vh;
  height: 80vh;
  flex-wrap: wrap;
  align-content: flex-start;
}


.fa-question-circle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  font-size: 50px;
  cursor: pointer;
  transition: .2s
}

.fa-question-circle:hover {
  color: yellow;
}