.board {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 576px;
  height: 576px;
  min-width: 245px;
  min-height: 245px;
}


.fa-question-circle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(75%, -75%);
  font-size: 5em;
  cursor: pointer;
  transition: .2s
}

.fa-question-circle:hover {
  color: #f5cb5c;
}


@media(max-width:700px) {
  .board {
    width: 80vw;
    height: 80vw;
  }
}


@media(max-width:500px) {
  .board {
    font-size: 8px
  }
}

@media(max-width:380px) {
  .board {
    font-size: 7px
  }
}

@media(max-height:800px) and (orientation:landscape) {
  .board {
    width: 65vh;
    height: 65vh;
  }
}

@media(max-height:500px) and (orientation:landscape) {
  .board {
    font-size: 8px
  }
}

@media(max-height:360px) and (orientation:landscape) {
  .board {
    font-size: 7px
  }
}