.faqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  min-height: 250px;
  min-width: 250px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
  z-index: 3;
}

.fa-times-circle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  font-size: 5rem;
  color: #e8eddf;
  cursor: pointer;
  transition: .3s;
}

.fa-times-circle:hover {
  color: #f5cb5c;
}

.tips {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 35%
}

.tips p {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.cheats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
}

.cheats h2 {
  font-family: 'Merienda One', cursive;
  font-size: 2.4rem;
}

.cheats button {
  width: 30%;
  height: 35%;
  background-color: #e8eddf;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}

.cheats button:hover {
  background-color: #f5cb5c;
}

.blurActive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
}

@media(max-width:1023px) {
  .faqContainer {
    width: 75vw;
  }
}

@media(max-width:680px) {
  .faqContainer {
    height: 85vw;
  }

  .cheats button {
    width: 65%;
    height: 30%;
  }
}

@media(max-width:490px) {
  .cheats button {
    font-size: 1.5em;
    width: 70%;
    height: 35%;
  }

  .faqContainer {
    height: 70vh;
  }

}