.Tile {
  position: relative;
  border: 1px solid #000;
  border-radius: 20%;
  transition: .4s;
}

.Tile p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Merienda One', cursive;
  font-size: 5rem;
  color: #1D3557;
}

.TileZero {
  border-radius: 20%;
}