.Tile {
  position: relative;
  /* background-color: #E8EDDF; */
  border: 10px solid #004BA8;
  border-radius: 20%;
  transition: .4s;
}

.Tile p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #333533
}

.TileZero {
  border: 10px solid #004BA8;
  border-radius: 20%;
  background-color: #1D3557;
}